{% extends 'webapp/base.html' %}
{% load staticfiles %}
{% block head_title %}500 - {{ block.super }}{% endblock head_title%}

{% block content %}

<div class="container jumbotron" style="align-content: center">
    <h1>Epa, safadão, 500 pra ti.</h1>
    <br>
    <p>Você deve ter grudado o dedo nos números pra ver até one chega.</p>
    <p>1 ^ 63 = "1 + 63 zeros" = 1 Vigintilhão </p>
    <h2>Máximo</h2>
    <p>999999999999999999999999999999999999999999999999999999999999999999 - são 66 algarismos.</p>
    <p>Tenta ae e lê por extenso, ixtepô.</p>
</div>

{% endblock content %}